html,
body {
  margin: 0;
  padding: 0;
}

// #app {
//   background-image: url("./background-three.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.container {
  width: 90%;
}

.v-btn {
  height: 48px;
}

.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-dark {
  color: rgba(0, 0, 0, 1);
}
.material-icons.md-light {
  color: rgb(255, 255, 255);
}

.item.COMPLETE {
  border-left: 4px solid rgb(28, 194, 64);
}

.item.ONGOING {
  border-left: 4px solid rgb(27, 130, 214);
}

.item.ONHOLD {
  border-left: 4px solid rgb(118, 193, 255);
}

.item.INTERRUPTED {
  border-left: 4px solid rgb(243, 7, 7);
}

.v-chip.COMPLETE {
  background: rgb(28, 194, 64);
}

.v-chip.ONGOING {
  background: rgb(27, 130, 214);
}

.v-chip.ONHOLD {
  background: rgb(118, 193, 255);
}

.v-chip.INTERRUPTED {
  background: rgb(243, 7, 7);
}


// ACCOUNT DIALOG
.login-text-button {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}